@font-face {
    font-family: Hitchcut;
    src: url(/img/font/Hitchcut-Regular.ttf);
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

*{
    margin: 0;
    padding: 0;

}

body{

    background-image: url(/img/ImgFundo-removebg-preview.png);
    background-color: rgb(250, 250, 250);
    opacity: 9;

}

#primeiro{

 /* arrumar */

}

#menu{

    width: 900px;
    height: 50px;
    align-items: center;
    position:absolute;
    top: 440px;

}

#menu ul{
    
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    width: 100%;
    
}

#menu li {
    
    text-align: center;
    width: 150px;
    float: left;
    border-radius: 5px;
    
}

#menu li a {
    
    display:inline-block;
    color: rgb(168, 57, 57);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-family: Hitchcut;
    
}

#menu a:hover{

    color: black;
    transition:all 0.3s ease;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

}

#novidade h2 {

    text-align: center;
    font-family: Hitchcut;
    text-shadow: 0px 0px 15px rgb(177, 168, 156)(218, 24, 24);
    font-size: 35px;

}