.banner{
  background-image: url(../../../assets/img/ImagemFundo2.svg);
  height: 700px;
  background-position: center top;
  background-size: auto;
}

.content{
  top: 30%;
  left: 32%;
  position: absolute;
}

.content h1{
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.content h3{
  color: white;
  font-size: 40px;
}

.content a {
  text-decoration: none;
  background-color: white;
  color: var(--corPrimaria);
  padding: 16px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.content a:hover{
  background-color: var(--corPrimaria);
  color: white;
}

.box{
  background-color: black;
  padding: 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.box h1{
  color: var(--corAmarelo);
  font-size: 50px;
  font-weight: bold;
}

.box p{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.itembox{
  padding: 10px 5px;

}

.itembox img{
  width: 100%;
  height: 250px;
  object-fit: cover;

  border-radius: 5px;

}

.itembox h1 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;

}

.maisopcoes{
  text-decoration: none;
  background-color: var(--corAmarelo);
  font-weight: bold;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
}

