<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="">

      <img src="/assets/img/Logo_semFundo.png">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-5 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}"><img class="icon" src="/assets/icons/home.svg
              "> Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="cardapio" routerLinkActive="active-link"><img class="icon" src="/assets/icons/cardapio.svg
              "> Cardapio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="carrinho" routerLinkActive="active-link"><img class="icon" src="/assets/icons/carrinho.svg
              "> Carrinho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="status" routerLinkActive="active-link"><img class="icon" src="/assets/icons/status.svg
              "> Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contato" routerLinkActive="active-link"><img class="icon" src="/assets/icons/contact.svg
              "> Contato</a>
        </li>
      </ul>

    </div>
  </div>
</nav>