<div class="container mt-5 mb-5">
  <h1 class="text-center">Finalizar Pedido<br></h1>
  <div class="row">
    <div class="col-lg-6" *ngIf="CarrinhoData">

      <img src="{{CarrinhoData[0].itemImg}}" class="img-fluid" width="100%" alt="" />
      <h1>{{CarrinhoData[0].itemName}}</h1>
      <p>{{CarrinhoData[0].itemDetails}}</p>
      <p>{{CarrinhoData[0].itemPrice | currency:'BRL'}}</p>

    </div>
    <div class="col-lg-6 form">

      <form action="">
        <h1 class="text-center">Dados Cliente<br></h1>
        <input type="text" class="form-control mb-2" name="nome" placeholder="Digite seu nome completo">
        <input type="text" class="form-control mb-2" name="telefone" placeholder="Digite seu telefone">
        <textarea class="form-control mb-2" name="endereco" placeholder="Digite seu endereço"></textarea>
        <a routerLink="/cardapio" class="btn btn-md btn-danger mt-3"><i class="bi bi-arrow-left"></i> Cancelar Pedido </a>
        <button class="btn btn-md btn-success mt-3 float-end" ng-click="enviar()"  routerLink="/status"> Fazer Pedido <i class="bi bi-bag-fill arrow-right"></i></button>
      </form>

    </div>
  </div>
</div>
