form{
  margin-top: 15%;
  width: 90%;
}

form h1{
  margin-bottom: 8%;
}

img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  padding: 10px 20px;
  width: auto;
  height: 450px;
  object-fit: cover;
}


