/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';

:root {

    --fontRegular: 'Hitchcut-Regular';
    --colorAmarelo: #F5AD11;
    --colorPreto: #000000;
    --colorBranco: #FFFFFF;
    --colorCadastro: #A73636;


}