/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import '@angular/material/theming';

@include mat-core();

$custom-app-primary: mat-palette($mat-blue);
$custom-app-secondaty: mat-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondaty, $custom-app-warn);

@include angular-material-theme($custom-theme);

:root {

    --fontRegular: 'Hitchcut-Regular';
    --fontPrimaria: 'Ubuntu-Light';

    // Cores principais
    --corAmarelo: #F5AD11;
    --corPreto: #000000;
    --corBranco: #FFFFFF;
    --corCadastro: #A73636;


}

* {

   font-family: var(--fontPrimaria);
    font-size: 14px;

}

html, body {

    height: 100%;
    margin:0;

}

.oculto {

    display: none !important;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
