/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';

:root {

    --fontRegular: 'Hitchcut-Regular';
    --fontPrimaria: 'Ubuntu-Light';

    // Cores principais
    --corAmarelo: #F5AD11;
    --corPreto: #000000;
    --corBranco: #FFFFFF;
    --corCadastro: #A73636;


}

* {

   font-family: var(--fontPrimaria);
    font-size: 14px;

}

html, body {

    height: 100%;
    margin:0;

}